.container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
}

h1 {
  margin-bottom: 70px;
}

.card {
  width: 48px;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  box-shadow: 2px 2px 9px 0px #656565;
  cursor: pointer;
  transition: 0.5s;
}
.selected-card {
  box-shadow: 2px 2px 9px 0px #6695b3;
  transition: 0.5s;
}
.success-card {
  box-shadow: 2px 2px 9px 0px #7ba86a;
  transition: 0.5s;
}
.card span {
  transition: 1s;
  opacity: 1;
  font-size: 20px;
  font-weight: bold;
}
.hidden-card span {
  transition: 1s;
  opacity: 0;
}
.selected-card span,
.success-card span {
  transition: 0.5s;
  opacity: 1;
}

.wrapper {
  display: grid;
  grid-gap: 24px;
  grid-template-columns: repeat(10, 48px);
  justify-content: center;
}
